@font-face {
  font-family: 'iconfont';  /* project id 1739846 */
  src: url('//at.alicdn.com/t/font_1739846_me0dq16x2g.eot');
  src: url('//at.alicdn.com/t/font_1739846_me0dq16x2g.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1739846_me0dq16x2g.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1739846_me0dq16x2g.woff') format('woff'),
  url('//at.alicdn.com/t/font_1739846_me0dq16x2g.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1739846_me0dq16x2g.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right::before {
  content: "\e659";
}

.icon-error::before {
  content: '\e702';
}